body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
}

#board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 1px;
  background-color: #333;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: rgb(137, 255, 90);
}

.snake-head {
  background-color: rgb(35, 64, 211);
}

.snake-body {
  background-color: rgb(139, 153, 221)
}

.food {
  background-color: crimson;
}